.post {
	font-family: Georgia, Times New Roman, serif;

	width: 790px;
	margin: 24px auto 96px;
}

.post__title {
	font-size: 48px;
	font-weight: normal;

	margin: 0;
}

.post__date {
	font-size: 14px;
	font-style: italic;

	color: gray;
}

.post__body {
	font-size: 22px;
	line-height: 1.6;
}
